*{
    padding: 0;
    margin: 2%;
    box-sizing: border-box;
    background-color: #f5ebe0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  


